
img, embed, object, video {
    max-width: 100%;
}

html {
  width: 100%;
}

:root {
  --article-border-radius: 1em;
  --gold-border-color: #ebc034;
  --french-proverbs-font-size: 1.6em;
  --font-1point2em: 1.2em;
  --footer-height: 5rem;
  --gold-border: 3px solid #ebc034;
  --navbar-height: 3.9rem;
  --navbar-height-mobile: 3.2rem;
  --sidebar-width: 11rem;
  --site-background-color: #5422d4;
  --sidebar-background-color: #c153e0;
  --sidebar-links-color: #5ce4ff;
  --image-border-color: #ebc034;
  --header-font: 'Roboto Slab', 'Cinzel', serif;
}
audio {
  width: 200px;
}
body {
  background-color: var(--site-background-color);
  margin: 0;
}
button {
  background-color: #ebc034;
  border-radius: 5px;
  border-color: #ebc034;
  font-family: 'Josefin Sans', sans-serif;
}
div {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  text-align: left;
  font-size: 2rem;
  color: #ebc034;
  font-family: 'Righteous', cursive;
  margin: 0px;
}
h2 {
  font-size: 14pt;
  color: #d4bb0c;
  font-family: 'Josefin Sans', sans-serif; 
}
h2 + iframe {
  margin-top: 10px;
}
h3{
  color: #ebc034;
}
input {
  border-color: #ebc034;
  border-width: 2px;
  border-style: solid;
}
noscript {
  background-color: red;
  color: white;
  display: block;
  font-family: Ariel, sans-serif;
  font-size: 1.4em;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
}
.based-on-true-story-description {
  background-color: #f8fcff;
  border: 2px solid var(--image-border-color);
  color: black;
  font: 1.5em 'Josefin Sans', sans-serif;
  line-height: 1.3em;
  margin: auto;
  padding: 1em;
  text-indent: 4em;
  width: 60vw;
}
.homepage-figure--heading {
  color: white;
  font-size: 3em;
  font-family: var(--header-font);
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 2em;
}
.based-on-true-story-image {
  display: block;
  margin: 1em auto auto;
}
.book-purchase-text-inner-div{
  border-radius: 10px;
  padding: 1em 0;
}
#cannelle-cover-homepage-pic {
  border: 2px solid var(--image-border-color);
  display: block;
  height: auto;
    width: 50em;
  margin: auto auto 4em auto;
}
#coming-soon-ul li {
  margin-bottom: 0.8em;
}
.contact-email {
  font-size: 1.3em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  word-wrap: break-word;
}
.contact-email--black {
  font-size: 1em;
  color: black;
}
#contact-paragraph {
  margin: auto 20vw;
}
.container--coming-soon {
  color: white;
  margin: 0 5vw 1.5em;
}
.container-1 {
  background-color: var(--sidebar-background-color);
  border: 2px solid var(--image-border-color);
  border-radius: 0.5em;
  margin: auto auto 1em;
  max-width: 100%;
  padding: 1.5em 7.5em;
  width: 40em;
}
.container-1-inner-div {
  border-radius: 10px;
  padding: 1.5em 7.5em;
}
.container-1-outer-div {
  background-color: var(--sidebar-background-color);
  border: 2px solid var(--image-border-color);
  border-radius: 0.5em;
  margin: auto;
  max-width: 100%;
  width: 40em;
}
.container-2 {
  background-color: white;
  border: 2px solid var(--image-border-color);
  border-radius: 0.5em;
  margin: auto;
  max-width: 100%;
  padding: 2em;
  width: 40em;
}
.container-2-outer-div {
  background-color: white;
  border: 2px solid var(--image-border-color);
  border-radius: 0.5em;
  margin: auto;
  max-width: 100%;
  padding: 1em;
  width: 40em;
}
.container-1-outer-div-for-margin {
  padding: 2em;
}
.container-3 {
  padding: 1.5em 7.5em;
  background-color: var(--sidebar-background-color);
  border: 2px solid var(--image-border-color);
  border-radius: 0.5em;
  margin: 2em auto;
  max-width: 100%;
  width: 40em;
}
.create-account {
  color: black;
  background-color: #ebc034;
  border-color: #ebc034;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#createAccount_login{
  display: flex;
  align-items: center;
}
.divSizePhotosOnPageClear {
  width: 21%;
  float: left;
  clear: both;
  padding: 10px;
}
#ebook-div {
  margin: 2em;
}
#ebook-donate-pic img {
  border-radius: 10px;
  display: block;
  width: 40em;
  margin: auto;
}
.ebook-download--subheading {
  display: block;
  font-size: 0.7em;
}
.ebook-first-page-paragraph-section {
  margin-top: 3em;
}
.ebook-first-page--title {
  text-align: center; 
}
.ebook-form--info {
  color: white; 
  text-align: center;
}
.ebook-form {
  max-width: 100%;
}
.ebook-heading {
  color: white;
  font-size: 2em;
  text-align: center;
}
.ebook-heading--subheading {
  text-align: center;
  color: white;
}
.ebook-h2-download {
  text-align: center;
  color: #211f76;
}
  .ebook-h2-download:hover {
    transform: scale(1.1);
  }
  .ebook-h2-download a:visited {
    text-decoration: none;
    color: #211f76;
    background-color: red;
  }
.ebook-link {
  font-size: 1.6em;
  color: red;
}
#ebook-paypal-button-title {
  background-color: var(--sidebar-background-color);
  border-radius: 0.5em;
  padding: 0.7em;
}
#featured-artist-name {
  display: block;
}
#featured-artist-subtext {
  color: #e61e1e;
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}
.featured-artist-img {
  height: 60vh;
}
.featured-artist-img-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
#featured-heading {
  font-size: 1.65em;
  padding: 0.3em 0 0 0;
  text-align: center;
}
#featuredTitle {
  margin-top: 0px;
  color: #451085;
  font-weight: 900;
}
.font-medium {
  font-size:;
}
.font-1point2em {
  font-size: var(--font-1point2em);
}
.font-color-turquoise {
  color: #5ce4ff;
}
.fontCormorantGaramond {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 3em;
  text-align: center;
}
#footer {
  background-color: var(--sidebar-background-color); 
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: var(--footer-height);
  margin-left: var(--sidebar-width);
  padding-left: 4vw;
  position: static;
    bottom: 0;
  z-index: 101;
}
#footer span {
  word-break: break-all;
}
.galleryWidth {
  width: 20%;
  float: left;
}
#ginger {
  width: 400px;
  margin: 10px;
  float: right;
}
.gridContainerHome {
  height: 90vh;
  /*Height sets total grid area height, and creates more space between rows when it is increased.*/
  margin: 2rem;
  /*This margin sets space between grid container and surrounding elements.*/
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, 1fr);
}
.gridContainerGallery {
  height: 90vh;
  /*Height sets total grid area height, and creates more space between rows when it is increased.*/
  margin: 2rem;
  /*This margin sets space between grid container and surrounding elements.*/
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
  /*Following are indented because they relate to .homeGridContainer (for organization of the CSS)*/
  .cell img {
    display: inline-block;
    height: 90%;
    vertical-align: -180px;
  }
  .cell span {
    display: inline-block;
    margin-bottom: 5px;
  }
  .cell{
    color: white;
    text-align: center;
    padding: 1rem;
    width: 220px;
    height: 220px;
    /*Width makes background show outside of image.*/
    /*Width of cell changes size of whole grid. Width for .homeGridContainer seems to do nothing.*/
    /*Width of cell allowed whole grid to not go all the way to the right edge*/
    
  }
  .cell-1 {
    background: maroon;
  }
  .cell-2 {
    background: pink;
  }
  .cell-3 {
    background: maroon;
  }
  .cell-4 {
    background: blue;
  }
  .cell-5 {
    background: transparent;
  }
  .cell-6 {
    background: transparent;
  }
  .cell-7 {
    background: transparent;
  }
  .cell-8 {
    background: transparent;
  }
  .cell-9 {
    background: transparent;
  }
.h2-title {
  color: #02ffe9;
  text-align: center;
  font-size: 1.2em;
}
.h3-title {
  font-size: 1em;
}
.heading--coming-soon {
  color: #ffe40d;
  text-align: center; 
}
.heading--font-medium {
  font-size: 2em;
}
.home-img-1 {
  border-radius: 0.6em;
  height: 18em;
  object-fit: contain;
  margin: 0.8em;
}
#homepageGetReadyToGetRowdy {
  padding: 10px;
  text-align: center;
  /*Floating to the left allows wolf logo to sit level with bottom of navbar.*/
}
#homepageLogin {
  background-color: #e3397a;
  border-style: none; /*!!No border!!*/
  border-color: #ebc034;
  border-radius: 10px;
  display: inline-block;
  padding: none;
  text-align: right;
}
#homepage-content-div {
  display: flex;
  flex-wrap: wrap;
}
#homepage-intro-text {
  margin: 2em;
}
#homepageTop {
  width: 100%;
}
#homepage-title-main-content {
  font-family: var(--header-font);
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0.4em;
}
#homeFeatured {
  background-color: #e3397a;
  border-style: solid;
  border-color: #ebc034;
  border-radius: 10px;
  border-width: 3px;
  clear: both;
  float: left;
  font-size: 20px;
  margin: 10px 10px 10px 0;
  padding: 15px;
  width: 200px;
}
#home-icon-button {
  border: 0.1em solid black;
  border-radius: 0.6em;
  padding: 0.3em;
  position: absolute;
    left: -10000px;
  height: 0px;
    width: 0px;
  transform: scale(1.07);
}
#home-icon-button-container {
  position: absolute;
    left: -10000px;
  height: 0px;
    width: 0px;
}
.homeLink {
  border: 3px solid #ebc034;
  border-radius: 10px;
  color: #ebc034;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 5px;
  padding: 6px;
}
.homeLink2 {
  border: 3px solid purple;
  border-radius: 10px;
  color: purple;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  padding: 6px;
}
.home-link-featured {
  border: 3px solid purple;
  border-radius: 10px;
  color: purple;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  padding: 6px;
}
#homeLinkMissionStatement {
  color: #ebc034;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  float: right;
  margin-bottom: 5px;
}
#homepageBarHorizontal {
  align-items: center;
  background-color: #e3397a;
  border-style: solid;
  border-color: #ebc034;
  border-radius: 10px;
  border-width: 0px;
  /*The border width interfered with making the width fit the screen correctly*/
  display: flex;
  /*flexbox*/
  justify-content: space-between;
  padding: 5px;
}
#homepageBarHorizontal2 {
  background-color: none;
  border-style: solid;
  border-color: #ebc034;
  border-radius: 10px;
  border-width: 0px;
  /*The border width interfered with making the width fit the screen correctly*/
}
.homepageFloatRight {
  float: right;
  padding: 10px;
  width: 10%;
}
.home-pic-div {
  position: relative;
}
.home-pic-title  {
  background-color: black;
  border: 1px solid #ebc034;
  border-radius: 0.4em;
  color: white;
  position: absolute;
    left: 3em;
    top: 3em;
  padding: 0.5em;
  visibility: hidden;
}
  .home-pic-div:hover .home-pic-title {
  visibility: visible;
  }
#h1-cannelle {
  color: #31bac4;
}
#h1-RowdyArtCom-lit {
  color: purple;
}
#h1-centered {
  margin-left: 3vw;
}
.intro-text {
  margin: 2em;
}
.intro-text--subtext {
  font-size: 1.2em;
}
.imagesRight {
  float: right;
  border-color: #ebc034;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
}
.indent {
  overflow-wrap: break-word;
  color: blue;
}
#largeLetterMissionStatement {
  font-size: 2em;
}
.links-i-like-description-paragraphs {
  font-size: 1.6em;
}
.links-i-like-divs {
  margin-bottom: 5em;

  word-wrap: break-word;
}
  .links-i-like-divs:first-of-type {
    margin-top: 3em;
  }
.links-i-like-h2 {
  color: #02ffe9;
  text-align: center;
  font-size: 1.6em;
}
#links-i-like-intro-text-div {
  font-size: 1.4em;
  padding-left: 2em;
  margin-bottom: 3em;
  text-align: center;
}
.links-i-like-text {
  padding: 0 13vw 0 6vw;
}
.links-i-like-text h3 {
 font-size: var(--french-proverbs-font-size);
}
.links-i-like-text h4 {
 font-size: var(--french-proverbs-font-size);
}
.links-i-like-titles a {
  color: #ebc034;
  text-decoration: underline;
}
.links-i-like-titles a:visited {
  color: pink;
}
.linkUnderHomeLink{
  clear: both;
  margin-top: 5px;
}
.lit-articles-lit-gallery {
  margin: 0.5em;
  padding: 1em;
}
.lit-title {
  margin-bottom: 5px;
}
#lit-article-1 {
  width: 200px;
    height: 10em;
  background-color: #aef07f;
  border-radius: var(--article-border-radius);
}
#lit-article-2 {
  width: 400px;
    height: 200px;
  background-color: #69a852;
  border-radius: var(--article-border-radius);
}
#lit-article-3 {
  width: 200px;
    height: 275px;
  background-color: #52a87a;
  border-radius: var(--article-border-radius);
}
#lit-article-4 {
  width: 300px;
    height: 180px;
  background-color: #39e361;
  border-radius: var(--article-border-radius);
}
#lit-article-5 {
  width: 350px;
    height: 200px;
  background-color: mediumseagreen; 
  border-radius: var(--article-border-radius);
}
#loginButton {
  display: inline-block;
  height: 42px;
  margin: 1% 0 1% 10px;
}
#loginButton_user_pass {
  align-items: center;
  border: solid 3px #ebc034;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}
#marksPhoto1OnPage {
  display: block;
  margin: auto;  width: 80%;
}
.margin-bottom-2em {
  margin-bottom: 2em;
}
#main-content {
  margin-left: var(--sidebar-width);
  padding: 0.2em;
}
#main-content-featured {
  margin-top: var(--navbar-height);
}
#main-content-lit {
  display: flex; 
    flex-wrap: wrap;
  margin-top: var(--navbar-height);
  margin-left: var(--sidebar-width);
  padding: 0.2em;
}
.merchant-reminder {
  color: #00ffca;
  margin: auto auto 1em;
  width: 30vw;
}
.missionStatementHomepage {
  background-color: #e3397a;
  border-style: solid;
  border-color: #ebc034;
  border-radius: 10px;
  color: white;
  display: inline-block;
  /*'Inline-Block' used to */
  margin: 10px;
  padding: 15px;
}
#missionStatementHomeLinkDiv {
  display: flex;
  justify-content: flex-end;
}
#missionStatementImgCenterDiv {
  display: flex;
  justify-content: center;
}
.missionStatementText {
  margin: 1% 10% 10% 10%;
}
#mobile-navigation-error-message-div {
  background-color: #e3397a;
  border-radius: 1em;
  font-size: 1.3em;
  height: auto;
    width: auto;
  margin: 40vh 20vw;
  overflow: auto;
  padding: 2em;
  position: static;
    left: auto;
}
#mobile-navigation-main-content {
	display: none;
	position: fixed;
		top: 0;
		left: 0;
  margin-left: 0;
  opacity: 0.98;
  padding: 0px;
  width: 100%;
  z-index: 2;
}
#mobile-navigation-title {
  padding: 0.5em;
  font-size: 1.3em;
};
#navbar-2 {
  background-color: var(--sidebar-background-color); 
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: var(--navbar-height);
  position: fixed;
    top: 0;
  width: 100%;
  z-index: 101;
}
#navbar-2-left {
  margin-left: 10px;
}
#navbar-2-right {
  display: flex;
  align-items: center;
}
#navbar-right-container {
  position: absolute;
}
#navbar-2-mobile-navigation-page {
  background-color: #f07fe6; 
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: var(--navbar-height);
  position: fixed;
    top: 0;
  width: 100%;
  z-index: 101;
}
#navbar-mobile {
  position: absolute;
    left: -10000px;
  width: 0px;
  height: 0px;
}
  #navbar-mobile a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
  }
#navbar-mobile-featured {
  position: absolute;
    left: -10000px;
  width: 0px;
  height: 0px;
  transform: scale(0.8);
}
#navbar_and_login {
  width: 100%;
  background-color: none;
}
#navbar_left {
  display: table;
}
#navbar-hamburger {
  border: 0.1em solid black;
  border-radius: 10px;
  height: 0px;
    width: 0px;
  position: absolute;
    left: -10000px;
    top: auto;
  transform: scale(0.9);
}
.navbar-hamburger-bun {
  animation: bun-spin 1s 1;
  animation-play-state: paused;
  background-color: black;
  border-radius: 100px;
  height: 5px;
    width: 35px;
}
  @keyframes bun-spin {
    50% {
      transform: rotate(180deg) scale(0.2);
    }
  }
.indent {
  text-indent: 1em;
}
#or {
  margin-left: 10px;
}
#paypal-cannelle {
  display: block;
  width: 10em;
  margin: auto;
}
#paypal-donate-button{
  display: block;
  margin: auto;
}
.paypal-donate-div {
  margin: 1em auto 0em;
  width: 500px;
  max-width: 100%;
}
  .paypal-donate-div * {
    max-width: 100vw;
  }
  .paypal-donate-div input {
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }
  .paypal-donate-div td {
    display: block;
    color: white;
    margin-bottom: 1em;
    text-align: center;
  }
.paypal-form__header {
  text-align: center; 
}
.photoIndexGridCell {
  color: white;
  font-size: 1.1rem;
  padding: 4rem;
}
.photoIndexGridContainer {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.photosOnPage {
  width: 100%;
  margin: 1.5%;
}
.proverb-divs {
  color: white;
  margin-bottom: 1.5em;
  margin-left: 5vw;
  margin-right: 5vw;
}
#proverb-div-main {
  font-size: 1.6em;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  width: 80vw;
}
.proverb-quotes {
  color: #ffe40d;
}
.rowdyArtDotComText {
  color: #ebc034;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}
.rowdyArtDotComTextMissionStatement {
  margin: 20px 0 0 0;
}
#rowdy-artforms{
  margin: 1em 0 0 0.8em;
  font-size: 1.7em;
}
.secured {
  right: 0;
}
#self-portrait {
  border: 2px solid var(--image-border-color);
  display: block;
  margin: auto;
}
#self-portrait-figure figcaption {
  font-family: var(--header-font);
  font-weight: bold;
  text-align: center;
}
#self-portrait-figure img {
  width: 35vw;
    max-width: 100%;
}
#sidebar-2 {
  background-color: var(--sidebar-background-color);
  border-right: 3px solid #ebc034;
  height: 100%;
    width: var(--sidebar-width);
  overflow-x: hidden; 
  padding-top: 5px;
  position: fixed;
    left: 0;
    top: 0;
  z-index: 100;
}
#sidebar-links a:first-of-type {
  padding-top: 1.5em;
  padding: 0.5em 0.4em;
}
#sidebar-links a {
  align-items: center;
  background-color: var(--site-background-color);
  border-radius: 0.6em;
  color: var(--sidebar-links-color);
  display: block;
  font-size: 1.7em;
  padding: 0.4em;
  margin: 1em 0.5em 0 0.5em;
  text-align: center;
  text-decoration: none;
}
#sidebar-links-lit-page {
  background-color: #e3397a;
  font-size: 20px;
  float: left;
  margin: var(--navbar-height) 10px 0 0;
  padding: 15px;
  width: 160px;
}
.text-center {
  text-align: center;
}
.text-gold {
  color: var(--gold-border-color);
}
.text-red {
  color: #ff8484;
}
.text-orange {
  color: orange;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: #4cff4c;
}
.text-blue {
  color: #00ffd6;
}
.text-purple {
  color: #ff97ff;
}
.textWhite {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
.text-black {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
.text-light-grey {
  color: #e0e0e0;
  font-family: 'Josefin Sans', sans-serif;
}
.textB {
  color: #ebc034;
  font-family: 'Josefin Sans', sans-serif;
}
.text-small {
  font-size: 0.6em;
}
#thanks-people {
  background-color: #671e7c;
  border: var(--gold-border);
  border-radius: 1em;
  column-count: 2;
  padding: 1em 2em;
}
#thanks-honey-neal-h3 {
  color: var(--gold-border-color);
  margin-bottom: 10em;
}
#title-1 {
  font-size: 2em;
  text-align: center;
}
.underlined {
  text-decoration: underline;
}
#user_pass_button_id {
  display: inline-block;
}
#video-cannelle-3-min-div {
  height: 0;
  margin: auto;
  max-width: 60rem;
  overflow: hidden;
  position: relative;
  padding-bottom: 540px;;
  padding-top: 35px;
  /*max-width needed to be put in the container, and max-height in the iframe, for the iframe to properly center on the page*/
}
  #video-cannelle-3-min-div iframe {
    height: 100%;
      max-height: 33.75rem;
    width: 100%;
    position: absolute;
      top:0;
      left: 0;
  }
#video-cannelle-full-div {
  height: 0;
  margin: auto;
  max-width: 60rem;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
}
  #video-cannelle-full-div iframe {
    height: 100%;
      max-height: 33.75rem;
    width: 100%;
    position: absolute;
      top:0;
      left: 0;
  }
#video-full-h3 {
  text-align: center;
  font-size: 1.6em;
}
#video-full-purchase-complete-div {
  padding: 1em 13vw 2em 13vw;
}
.welcome-font {
  font-size: 1.5em;
}
.welcomeText {
  border: 0px solid #ebc034;
  border-radius: 7px;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 65%;
}
#welcome-story-pic {
  border: 2px solid var(--image-border-color);
  display: block;
  margin: auto;
  height: auto;
  width: 60vw;
}
@media (max-width: 1280px) {
  .container-1-outer-div {
    width: auto;
  }
  .container-3 {
    margin: 1em;
    width: auto;
  }
  #video-cannelle-3-min-div {
    padding-bottom: 50.25%;
  }
}
@media (max-width: 1100px) {
  .container-1{
    width: 50vw;
    padding: 1em;
  }
  .container-2 {
    width: 50vw;
  }
}
@media (max-width: 700px) {
  .container-1 {
    width: 90%;
  }
  .container-2 {
    width: 75%;
  }
  #footer {
    background-color: var(--sidebar-background-color); 
    display: flex;
      align-items: center;
      justify-content: space-between;
    height: var(--footer-height);
    margin-left: auto;
    padding-left: 0;
    position: static;
      bottom: 0;
    z-index: 101;
  }
    #footer span {
      margin: auto;
    }
  #home-icon-button {
      align-self: center;
    height: auto;
      width: 2em; 
    position: static;
      left: auto;
  }
  #home-icon-button-a {
    display: flex;
    position: static;
      left: auto;
    height: auto;
      width: auto;
  }
  #home-icon-button-container {
    display: flex;
    position: static;
      left: auto;
    height: auto;
      width: auto;
    margin-right: 0.8em;
  }  
  .home-img-1 {
    display: block;
    height: auto;
    margin: 0 0 1.5em 0;
    object-fit: contain;
    width: 100vw;
  }
  #main-content {
    margin-left: auto;
    padding: 0.2em;
  }
  #main-content-lit {
    display: flex; 
      flex-wrap: wrap;
    margin-top: var(--navbar-height);
    margin-left: 0;
    padding: 0.2em;
  }
  #mobile-navigation-error-message-div {
    position: absolute;
      left: -10000px;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #mobile-navigation-main-content {
    margin-left: 0;
  }
  #navbar-hamburger {
    background-color: #ebc034;
    display: flex; 
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    height: 50px;
      width: 50px;
    position: fixed;
      left: auto;
      right: 0;
      top: 0;
    z-index: 100;
  }
  #navbar-hamburger-a-tag {
    display: flex; 
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    height: auto;
      width: auto;
    margin-right: 0.3vw;
    position: static;
    z-index: 100;
  }
  #navbar-mobile {
    background-color: #e3397a;
    height: max-content;
      width: 100%;
    position: static;
      left: 0;
  }
    #navbar-mobile a {
      border-bottom: 3px solid #ebc034;
      display: flex;
        justify-content: center;
      font-size: 1.7rem;
      padding: 1.2rem;
    }
    #navbar-mobile a:first-of-type {
      border-top: 3px solid #ebc034;
    }
  #navbar-2-right {
    position: absolute;
    height: 0px;
      width: 0px;
    visibility: hidden;
  }
  .home-link-featured{
    height: 0px;
    width: 0px;
    position: absolute;
      left: -10000px;
      visibility: hidden;
  }
  #navbar-right-container {
    display: flex;
    position: static;
  }
  #self-portrait {
    border: 2px solid var(--image-border-color);
    display: block;
    height: auto;
    margin: auto;
    width: 100%;
  }
  #self-portrait-figure {
    margin: auto;
    width: 100%;
  }
    #self-portrait-figure img {
      width: 100%;
    }
  #sidebar-2 {
    position: absolute;
      left: -100000px;
    height: 0px;
      width: 0px;
    visibility: hidden;
  }
  #welcome-story-pic {
    width: 100%;
  }
  #welcome-story-figure {
    margin: 0;
    width: 100%;
  }
  .welcome-team-inner-div {
    padding: 1.5em 2.5em;
  }
}
@media (max-width: 400px) {
  #sidebar-2 {
    position: absolute;
    height: 0px;
      width: 0px;
    visibility: hidden;
  }
}