.based-on-true-story-description {
  font-size: 1.3rem;
  text-align: justify; 
  text-indent: 1.5rem;
  width: 80%;
}
.container-1 {
  padding: 0;
  width: 90%;
}
.container-2 {
  width: 65%;
}
.container-3 {
  padding: 1.5rem 1rem;
  background-color: var(--sidebar-background-color);
  border: 2px solid var(--image-border-color);
  border-radius: 0.5rem;
  margin: 2rem 0.4rem;
  max-width: 100%;
  width: auto;
}
.container-3__line--team {
  text-indent: 0;
}
.container-3__line--copyright {
  font-size: 0.8rem;
}
#footer {
  margin-left: 0;
  word-wrap: break-word;
}
.h2--size-450 {
  font-size: var(--header-font-size-450);
}
.home-link-featured{
  height: 0px;
  width: 0px;
  position: absolute;
    left: -10000px;
    visibility: hidden;
}
#home-icon-button {
  position: static;
    left: auto;
  height: auto;
    width: 2rem;
}
#home-icon-button-container {
  position: static;
    left: auto;
  height: auto;
    width: auto;
}
.home-pic-div {
  position: relative;
}
.home-pic-title  {
  background-color: black;
  border: 1px solid #ebc034;
  border-bottom: none;
  border-left:none;
  border-radius: 0;
  color: white;
  margin: 0.3rem 0 0 0;
  position: static;
    left: 0;
    top: 0;
  padding: 0.5rem;
  visibility: visible;
  width: max-content;
}
  .home-pic-div:hover .home-pic-title {
  visibility: visible;
  }
.home-img-1 {
  border-top: 1px solid #ebc034;
  border-bottom:  1px solid #ebc034;
  border-radius: 0;
    display: block;
  height: auto;
  object-fit: contain;
  margin: 0 0 1.5rem 0;
  width: 100vw;
  background-color: blue;
}
#homepage-content-div {
  display: flex;
  flex-wrap: auto;
  justify-content: auto;
}
#homepage-title-main-content {
  font-family: var(--header-font);
  font-size: var(--header-font-size-450);
  text-align: center;
  margin: 0.4rem;
}
.intro-text--subtext {
  text-align: justify;
}
.lit-articles-lit-gallery /*selector here same as original; just used for reference*/ {
  margin: 0.5rem;
  padding: 1rem;
}
.lit-title {
  font-size: 1.4rem;
  font-weight: 800;
}
.lit-title-1-LP /*LP stands for 'Literature Page'*/ {
  margin-right: 1.5rem;
  text-align: right;
}
.lit-title-3-LP {
  margin-right: 2rem;
  text-align: right;
}
#lit-article-1 {
  border-radius: var(--article-border-radius);
  width: 100%;
    height: 8rem;
}
#lit-article-2 {
  margin-left: auto;
  margin-right: 0.5rem;
  width: 80%;
    height: 9rem;
  background-color: #69a852;
  border-radius: var(--article-border-radius);
}
#lit-article-3 {
  background-color: #52a87a;
  border-radius: var(--article-border-radius);
  margin-left: 1.3rem;
  width: 75%;
    height: 16rem;
}
#lit-article-4 {
  width: 300px;
    height: 100px;
  background-color: #39e361;
  border-radius: var(--article-border-radius);
}
#lit-article-5 {
  width: 350px;
    height: 50px;
  background-color: mediumseagreen; 
  border-radius: var(--article-border-radius);
}
.links-i-like-text {
  margin: 0 0.5rem 0 1rem;
  padding: 0;
}
#main-content {
  margin-top: 0.4rem;
  margin-left: 0;
  padding: 0px;
}
#main-content-lit {
  display: flex; 
    flex-wrap: wrap;
  margin-top: 0;
  margin-left: 0;
  padding: 5px;
}
.merchant-reminder {
  text-align: justify;
  width: 80vw;
}
.font-size {
  font-size: 1.6rem;
}
#navbar-2 {
  background-color: #f07fe6; 
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: var(--navbar-height-mobile);
  position: static;
    top: 0;
  width: 100%;
  z-index: 101;
}
#navbar-2-mobile-navigation-page {
  background-color: #f07fe6; 
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: var(--navbar-height-mobile);
  position: fixed;
    top: 0;
  width: 100%;
  z-index: 101;
}
#navbar-hamburger {
  background-color: #ebc034;
  display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  height: 50px;
    width: 50px;
  position: fixed;
    left: auto;
    right: 0;
    top: 0;
  z-index: 100;
}
#navbar-mobile {
	background-color: #e3397a;
  height: max-content;
  	width: 100%;
  position: static;
    left: 0;
  }
#navbar-mobile-featured {
  background-color: #e3397a;
  border-radius: 1rem;
  border: 0.1rem solid #ebc034;
  height: max-content;
    width: 90vw;

  position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
#navbar-mobile-featured a {
  display: flex;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
}
.proverb-divs {
  color: white;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
#proverb-div-main {
  font-size: 1.6rem;
  max-width: 100%;
  margin: auto 10vw;
  width: auto;
}
#self-portrait {
  border: 2px solid var(--image-border-color);
  display: block;
  height: auto;
  margin: auto;
}
#self-portrait-figure {
  width: 100%;
}
  #self-portrait-figure figcaption {
    font-size: var(--header-font-size-450);
  }
  #self-portrait figure img {
    width: 95%;
  }
#sidebar-2 {
  position: absolute;
  	left: -100000px;
  height: 0px;
    width: 0px;
  visibility: hidden;
}
#thanks-people {
  border-radius: 5px;
  column-count: 1;
  padding: 0;
  width: 100%;
}
.thanks-to {
  margin-left: 1rem;
}
#welcome-story-pic {
  border-radius: 0px;
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}
#welcome-story-figure {
  margin: 0;
  width: 100%;
}
#welcome-story-figure figcaption {
  font-size: var(--header-font-size-450);
  font-family: var(--header-font);
  text-align: center;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
}

:root {
  --header-font-size-450: 2rem;
}