#color1 {
	height: 100px;
		width: 600px;
	background-color: #4c3094;
}
#color2 {
	height: 100px;
		width: 600px;
	background-color: #32997e;
}
#color3 {
	height: 100px;
		width: 600px;
	background-color: #789430;
	
}
#color4 {
	height: 100px;
		width: 600px;
	background-color: #896b99;
	
}